@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: rgb(239, 129, 146);
  /* position: fixed; */
  width: 100%;
  height: 56px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_nav--img {
  width: 10%;
  text-align: left;
  text-decoration-line: none;
}

.container_nav--links {
  width: 80%;
  text-decoration-line: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 2%;
  padding-top: 3%;
}

.container_nav--icons {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_link {
  color: black;
  text-decoration-line: none;
  font-size: 1rem;
  padding-bottom: 0.6%;
}

.nav_link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: aqua;
}

#buying_Car {
  width: 40%;
  height: 40%;
  border-radius: 40%;
}

#logo {
  width: 35%;
  text-align: left;
  padding-top: 0.1rem;
  border-radius: 20%;
}

.li_navbar {
  display: inline-block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-decoration-line: none;
  text-align: right;
}

footer {
  width: 100%;
  height: 56px;
  background-color: rgb(250, 215, 220);
}

.div_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_div--a {
  text-decoration-line: none;
}

.footer_img {
  width: 10%;
  margin: 1rem;
  text-align: center;
}

.div_footer--container {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

/* BODY--------------------------------------------- */
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(241, 235, 236);
}

/* SEARCHING BAR */
.searchForm {
  width: 100%;
  height: 2rem;
  text-align: center;
  background-color: rgb(241, 235, 236);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* BURGUER MENU*/
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

input[type=search] {
  background-color: rgb(172, 249, 244);
  width: 80%;
  height: 100%;
  text-align: center;
  border-color: rgb(172, 249, 244);
}

/* ORDEN MENU DESPLEGABLE CON TARJETAS */
.article_box--menu--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* CLOTHES CARD */
.body_menu--card2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgb(172, 249, 244);
}

.card {
  background-color: rgb(250, 215, 220);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2rem;
}

.card_image {
  width: 100%;
  border: 10rem;
  border-radius: 5%;
}

.card_container {
  width: 20%;
  display: inline-block;
  background-color: rgb(250, 215, 220);
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 5%;
}

.pages {
  text-align: center;
  background-color: rgb(172, 249, 244);
  padding-bottom: 0.5rem;
}

#main_ul_producto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main_ul_producto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#div_ul_product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-align: center;
}

#div_ul_producto {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-align: center;
}

.main_product {
  padding-top: 2rem;
  text-align: center;
}

.product_title {
  width: 100%;
  background-color: rgb(172, 249, 244);
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.div_ul_p {
  padding: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.product_p {
  padding: 5%;
  text-align: center;
  text-align: justify;
}

.product_title--h2 {
  width: 100%;
  background-color: rgb(172, 249, 244);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.div_p2 {
  width: 50%;
  padding-left: 15%;
  padding-top: 10%;
  text-align: left;
  font-size: larger;
}

.div_p2--li {
  list-style: none;
}

#div_ul_img2 {
  width: 75%;
  padding-left: 15%;
  padding-top: 0.7rem;
}

#product_p3 {
  text-align: justify;
  -ms-flex-line-pack: center;
      align-content: center;
}

button {
  background-color: rgb(172, 249, 244);
  border-color: rgb(172, 249, 244);
  font-weight: bold;
  padding: 0.2rem;
  margin: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

.main_nosotros {
  padding-top: 3rem;
  text-align: center;
}

#main_ul_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main_ul_us2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#p_description2 {
  margin-left: 10%;
  margin-bottom: 2rem;
  width: 80%;
  text-align: justify;
  padding-top: 1rem;
}

#div_ul {
  width: 50%;
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  list-style-type: none;
}

#div_ul2 {
  width: 50%;
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  list-style-type: none;
}

#div_ul_img {
  width: 100%;
}

#div_ul_img2 {
  width: 100%;
  padding-left: 5%;
}

#div_ul2 {
  padding: 1rem;
  list-style: none;
}

#div_ul_p {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  text-align: justify;
  padding-top: 0.5rem;
  font-size: 20px;
}

#div_ul_h3 {
  width: 100%;
}

p {
  font-size: 20px;
}

.main_faq {
  margin-left: 20%;
  padding-top: 3rem;
}

.faq_question {
  background-color: rgb(172, 249, 244);
  margin: 2rem;
  width: 70%;
  padding: 1rem;
  text-align: left;
}

.p_faq {
  background-color: blanchedalmond;
  padding: 0.5rem;
}

#p_description {
  width: 80%;
  text-align: justify;
}

.accordion-item {
  width: 100%;
  background-color: blanchedalmond;
}

.container_accordion {
  width: 80%;
  margin-left: 0%;
}
.container_accordion .accordion-button.collapsed {
  background-color: rgb(172, 249, 244);
  margin-bottom: 1rem;
}

/*ESTRELLAS PARA MEDIR EXPERIENCIA*/
.producto_h2_evaluacion {
  margin-top: 2rem;
  text-align: center;
  color: rgb(239, 129, 146);
}

#rating_container {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating {
  width: 40%;
}

.rating:not(:checked) > input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  padding-right: 5%;
  cursor: pointer;
  font-size: 50px;
  color: rgb(172, 249, 244);
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: rgb(239, 129, 146);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: rgb(239, 129, 146);
}

.rating > input:checked ~ label {
  color: #ffa723 rgb(239, 129, 146);
}

.main_contact {
  padding-top: 5rem;
}

.form_contact {
  text-align: center;
  background-color: rgb(172, 249, 244);
  display: block;
}

.contact_h1 {
  text-align: center;
}

.form_contact {
  background-color: rgb(250, 215, 220);
  padding: 1rem;
  width: 70%;
  text-align: left;
}

.main_form_contact {
  margin-left: 20%;
  margin-top: 5%;
}

input {
  background-color: rgb(172, 249, 244);
  border-color: rgb(172, 249, 244);
}

#contact1 {
  width: 100%;
  height: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

#contact2 {
  width: 100%;
  height: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

#contact3 {
  width: 100%;
  height: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

#contact4 {
  width: 100%;
  height: 5rem;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

#contact5 {
  width: 10%;
  height: 2rem;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

#contact6 {
  width: 10%;
  height: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.main_contact--p {
  text-align: center;
}

p {
  padding-top: 0.5rem;
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  #body_menu--card2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .burguerMenu {
    padding-top: 0.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container_nav--img {
    width: 15%;
    text-align: center;
  }
  .container_nav--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    left: 0;
    width: 90%;
    text-decoration-line: none;
  }
  /*intenté hacer el menú hamburguesa, solamente me faltó hacer el link entre el menú y los enlaces pero por tiempo no pude*/
  .container_nav--links a:hover, .container_nav--links a.active {
    left: 0;
  }
  .burger:checked ~ .container_nav--links {
    left: 0;
  }
  .container_nav--icons {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  /*----------------INDEX SHEET--------------- */
  /* NAVBAR */
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container_nav--icons {
    display: none;
  }
  #logo {
    width: 100%;
  }
  /* MAIN */
  .body_menu--card2 {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card_container {
    width: 75%;
  }
  /* FOOTER */
  .div_footer {
    height: 35px;
  }
  .div_footer--container {
    display: none;
  }
  .footer_div--a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
  }
  /*---------------------- PRODUCT SHEET ------------------------- */
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product_p {
    display: none;
  }
  #main_ul_producto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #div_ul_h3 {
    padding-top: 0.5rem;
  }
  .product_title--h2 {
    margin-top: 1rem;
    padding: 0.5rem;
  }
  #main_ul_producto2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #div_ul_img2 {
    padding-left: 2.6%;
  }
  .div_p2 {
    width: 80%;
  }
  /*---------------------- US SHEET ------------------------- */
  #main_ul_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  #main_ul_us2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  #div_ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #div_ul2 {
    width: 80%;
    padding: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /*---------------------- CONTACT SHEET ------------------------- */
  .main_contact {
    padding-top: 2rem;
  }
  .main_form_contact {
    margin-left: 10%;
  }
  .form_contact {
    width: 80%;
    background-color: rgb(241, 235, 236);
  }
  label {
    font-size: 18px;
  }
  input {
    background-color: rgb(172, 249, 244);
    border-color: rgb(241, 235, 236);
  }
  #contact1 {
    width: 100%;
    height: 2rem;
  }
  #contact2 {
    width: 100%;
    height: 2rem;
  }
  #contact3 {
    width: 100%;
    height: 2rem;
  }
  #contact4 {
    width: 100%;
    height: 2rem;
  }
  #contact5, #contact6 {
    width: 30%;
    height: 1.5rem;
    margin-left: 8.5%;
  }
  .div_footer {
    margin-top: 5%;
  }
  /*---------------------- FAQ SHEET ------------------------- */
  .main_faq {
    margin-left: 8%;
  }
  .faq_question {
    background-color: rgb(172, 249, 244);
    margin: 0.5rem;
    width: 80%;
    padding: 1rem;
    text-align: left;
  }
  #p_description {
    width: 90%;
    text-align: justify;
    padding: 0.5rem;
  }
  .p_faq {
    background-color: blanchedalmond;
    padding: 0.5rem;
    border: 0.5rem solid blanchedalmond;
  }
  #rating_container {
    display: none;
  }
}