.main_contact{
    padding-top: 5rem;
}

.form_contact{
    text-align: center;
    background-color: rgb(172, 249, 244);
    display: block;
}

.contact_h1{
    text-align: center;
}

.form_contact{
    background-color:rgb(241, 235, 236);
    padding: 1rem;
    width: 70%;
    text-align: left;
}

.main_form_contact{
    margin-left: 20%;
    margin-top: 5%;
}

input{
    background-color: rgb(172, 249, 244);
    border-color: rgb(250, 215, 220);
}

#contact1 {
    width: 100%;
    height: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#contact2 {
    width: 100%;
    height: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#contact3 {
    width: 100%;
    height: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#contact4 {
    width: 100%;
    height: 5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#contact5 {
    width: 10%;
    height: 2rem;
    margin-left:25% ;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#contact6 {
    width: 10%;
    height: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
