.main_faq{
    margin-left: 20%;
    padding-top: 3rem;
}

.faq_question{
    background-color: rgb(172, 249, 244);
    margin: 2rem;
    width: 70%;
    padding: 1rem;
    text-align: left;
}

.p_faq{
    background-color: blanchedalmond;
    padding: 0.5rem;
}

#p_description{
    width: 80%;
    text-align: justify;
}