/* BODY--------------------------------------------- */
body{
    font-family: 'Lato', sans-serif;
    background-color: $rosado_fondo;
}

/* SEARCHING BAR */
.searchForm{
    width:100%;
    height: 2rem;
    text-align: center;
    background-color: $rosado_fondo;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* BURGUER MENU*/


.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    display: none;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

input[type=search]{
    background-color: $celeste_agua;
    width: 80%;
    height: 100%;
    text-align: center;
    border-color: $celeste_agua;
}

/* ORDEN MENU DESPLEGABLE CON TARJETAS */
.article_box--menu--cards{
    display: flex;
}

/* CLOTHES CARD */
.body_menu--card2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $celeste_agua;
}

.card{
    background-color: $rosado_cards;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.2rem;
}


.card_image{
    width: 100%;
    border: 10rem;
    border-radius: 5%;
}


.card_container{
    width:20% ;
    display: inline-block;
    background-color: $rosado_cards;
    padding: 0.5rem;
    margin: 1.5rem;
    border-radius: 5%;
}

.pages{
    text-align: center;
    background-color: $celeste_agua;
    padding-bottom: 0.5rem;
}