@media screen and (max-width:1000px){
    #body_menu--card2{
        display: flex;
        flex-wrap: wrap;
    }

    .burguerMenu{
        padding-top: 0.6rem;
        display: flex;
    }

    .container_nav--img{
        width: 15%;
        text-align: center;
    }

    .container_nav--links{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-around;
        left: 0;
        width: 90%;
        text-decoration-line: none;
    }

    /*intenté hacer el menú hamburguesa, solamente me faltó hacer el link entre el menú y los enlaces pero por tiempo no pude*/

    .container_nav--links a:hover, .container_nav--links a.active{
        left: 0;
    }

    .burger:checked ~ .container_nav--links{
        left: 0;
    }

    .container_nav--icons{
        display: none;
    }

}    
@media screen and (max-width:426px){
    /*----------------INDEX SHEET--------------- */
        /* NAVBAR */
        nav {
            display: flex;
            justify-content: space-between;
        } 
    
        .container_nav--icons{
            display: none;
        }
    
        #logo{
            width: 100%;
        }
        /* MAIN */
    
        .body_menu--card2{
            width: 100%;
            align-items: center;
        }
    
        .card_container{
            width: 75%;
        }
    
        /* FOOTER */
    
        .div_footer{
            height: 35px;
        }
        .div_footer--container{
            display: none;
        }
    
        .footer_div--a{
            display: flex;
            align-items: right ;
        }
    
    /*---------------------- PRODUCT SHEET ------------------------- */
        main{
            display: flex;
            flex-direction: column;
        }
    
        .product_p{
            display: none;
        }
    
        #main_ul_producto{
            display: flex;
            flex-direction: column;
        }
    
        #div_ul_h3{
            padding-top: 0.5rem;
        }
    
        .product_title--h2{
            margin-top: 1rem;
            padding: 0.5rem;
        }
    
        #main_ul_producto2{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        #div_ul_img2{
            padding-left: 2.6%;
        }
    
        .div_p2{
            width: 80%;
        }

    /*---------------------- US SHEET ------------------------- */
        #main_ul_us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

        #main_ul_us2{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            list-style: none;
        }

        #div_ul{
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #div_ul2{
            width: 80%;
            padding: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;
        }

    /*---------------------- CONTACT SHEET ------------------------- */
        .main_contact{
            padding-top: 2rem;
        }

        .main_form_contact{
            margin-left: 10%;
            
        }

        .form_contact{
            width: 80%;
            background-color: $rosado_fondo;
        }

        label{
            font-size: 18px;
        }

        input{
            background-color: $celeste_agua;
            border-color: $rosado_fondo;
        }
        
        #contact1{
            width: 100%;
            height: 2rem;
        }
        #contact2{
            width: 100%;
            height: 2rem;
        }
        #contact3{
            width: 100%;
            height: 2rem;
        }
        #contact4{
            width: 100%;
            height: 2rem;
        }

        #contact5, #contact6{
            width: 30%;
            height: 1.5rem;
            margin-left: 8.5%;
        }

        .div_footer{
            margin-top: 5%;
        }

    /*---------------------- FAQ SHEET ------------------------- */
        .main_faq{
            margin-left: 8%;
        }
    
        .faq_question{
            background-color: rgb(172, 249, 244);
            margin: 0.5rem;
            width: 80%;
            padding: 1rem;
            text-align: left;
        }

        #p_description{
            width: 90%;
            text-align: justify;
            padding: 0.5rem;
        }

        .p_faq{
            background-color: blanchedalmond;
            padding: 0.5rem;
            border: 0.5rem solid blanchedalmond;
        }

        #rating_container{
            display: none;
        }
}

